order-common/src/main/resources/xsd/permission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="permission" type="permissionType"/>
    <xs:complexType name="resourcesType">
        <xs:sequence>
            <xs:element type="resourceType" name="resource" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="permissionType">
        <xs:sequence>
            <xs:element type="resourcesType" name="resources"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="resourceType">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="path">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>